/* You can add global styles to this file, and also import other style files */

@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* custom css */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.bgimg{
    background-image: url('assets/photo_accueil.jpg');
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.bgimgEnter{
    background-image: url('assets/enter.jpg');
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

i{
    margin: 10px;
}